### Explanatory Data analysis

In [13]:
import pandas as pd
def nulls(df):
    nulls = pd.DataFrame(df.isnull().sum().sort_values(), columns=['nulls'])
    nulls['porcentaje'] = round(100*nulls['nulls'] / len(df), 2)
    nulls.sort_values('porcentaje')
    return nulls

In [3]:
datos_wiki_people=pd.read_csv('datos_wiki_people.csv')

In [4]:
datos_wiki_people.shape

(49124, 23)

In [5]:
datos_wiki_people.nunique()

Unnamed: 0                17829
Unnamed: 0.1                  1
person.type                   1
person.value              47031
personLabel.xml:lang          1
personLabel.type              1
personLabel.value         34488
occupationLabels.type         1
occupationLabels.value     9257
educatedLabels.type           1
educatedLabels.value      11506
nomineeLabels.type            1
nomineeLabels.value         358
awardLabels.type              1
awardLabels.value          3878
countryLabel.xml:lang         1
countryLabel.type             1
countryLabel.value          303
twitterName.type              1
twitterName.value          3697
dod.datatype                  1
dod.type                      2
dod.value                  3493
dtype: int64

In [6]:
#ew are interested in value columns
datos_wiki_people=datos_wiki_people[[ 'person.value',
        'personLabel.value',
        'occupationLabels.value',
       'educatedLabels.value',
       'nomineeLabels.value', 'awardLabels.value',
       'countryLabel.value',
       'twitterName.value',
       'dod.value']]

In [7]:
datos_wiki_people = datos_wiki_people.dropna(subset=['occupationLabels.value'])#delete nan rows

In [8]:
#delete death persons: we donÂ´t need them
values={'dod.value': 'yes'}
datos_wiki_people=datos_wiki_people.fillna(value=values)
datos_wiki_people_alive=datos_wiki_people.loc[datos_wiki_people['dod.value']=='yes']

### Because we have duplicated "persons", in this case we concat all the ocupations per person, in order to only have one "person" for row

In [9]:
datos_wiki_people=datos_wiki_people.groupby(['personLabel.value']).agg({'occupationLabels.value': lambda x: '-'.join(x.astype(str))}).reset_index()

In [10]:
datos_wiki_people.head()

  personLabel.value                            occupationLabels.value
0             1.8.7  musician, record producer, disc jockey, composer
1           50 Cent                                            rapper
2          A Skillz                                       disc jockey
3        A. A. Gill                                journalist, writer
4    A. B. McKillop                                         historian

### Now we add that column to our original dataset

In [14]:
people_wiki=pd.read_csv('people_wiki.csv')

In [15]:
people_wiki.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [16]:
people_wiki=people_wiki.merge(datos_wiki_people, left_on ='name', right_on='personLabel.value', how='left')

In [17]:
nulls(people_wiki)

                        nulls  porcentaje
URI                         0         0.0
name                        0         0.0
text                        0         0.0
personLabel.value        9669        22.6
occupationLabels.value   9669        22.6

In [18]:
values={'occupationLabels.value': 'sin_dato'}
people_wiki.fillna(value=values, inplace=True)

In [19]:
people_wiki=people_wiki.rename(columns={'occupationLabels.value': 'Ocupation'})

In [22]:
people_wiki=people_wiki.drop(columns='personLabel.value', axis=0)

In [23]:
people_wiki.head()

,URI,name,text,Ocupation
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,Australian rules football player
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,psychiatrist
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,harmonicist
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"opinion journalist, literary critic, translato..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,sin_dato

In [80]:
people_wiki.to_csv('people_wiki_oc.csv')